mixin contant-info(contantinfo)
  .contant-info(class=contantinfo)
    a.contant-info__link(href="tel:88005558628", aria-label="Позвонить нам")
      .contant-info__svg.contant-info__svg--tel.bc-button
        +icon("icon-telephone", 36, 34)
      | 8&nbsp;800 555-86-28
    a.contant-info__link(href="mailto:mail@htmlacademy.ru", aria-label="Написать нам")
      .contant-info__svg.contant-info__svg--mail.bc-button
        +icon("icon-mail-2", 37, 25)
      | mail@htmlacademy.ru
