mixin map
  section.map
    h2.visually-hidden Карта
    iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1vUW-k69CKXIX5th6IlzwaZGJMbTE_Ko&ehbc=2E312F", width="1440", height="584", allowfullscreen="", loading="lazy", referrerpolicy="no-referrer-when-downgrade", title="Офис компании по адресу ул. Большая Конюшенная, д. 19/8 Санкт-Петербург")
