mixin range
  .range
    .range__wrapper-inputs
      input.range__input.range__input--min(type="number" min="0" max="100" value="30" name="min-price")
      input.range__input.range__input--max(type="number" min="0" max="100" value="100" name="max-price")
    .range__scale
      .range__bar
        button.range__toggle.range__toggle--min
          span.visually-hidden Изменить минимальную цену.
        button.range__toggle.range__toggle--max
          span.visually-hidden Изменить максимальную цену.
