mixin social-list(sociallist)
  .social-list
    ul.social-list__list(class=sociallist)
      li
        a.social-list__link(href="#")
          img(src="img/svg/telegram.svg" alt="Телеграм" width="32" height="32")
      li
        a.social-list__link(href="#")
          img(src="img/svg/vkontakte.svg" alt="Вконтакте" width="32" height="32")
      li
        a.social-list__link(href="#")
          img(src="img/svg/youtube.svg" alt="Ютуб" width="32" height="32")
