.about {
  padding: 80px 0 0;
  min-height: 758px;
  z-index: 6;
  position: relative;

  @include vp-1023 {
    padding: 105px 0 0;
  }

  @include vp-767 {
    padding: 3px 0 0;
    border-radius: 0 0 30px 30px;
    min-height: 388px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #272b3b;
    border-radius: 0 0 56px 56px;

    @include vp-1023 {
      top: -270px;
      border-radius: 0 0 60px 60px;
    }

    @include vp-767 {
      border-radius: 0 0 30px 30px;
    }
  }

  .container {
    padding: 0 71px 0 72px;
    position: relative;
    display: flex;
    flex-direction: column;

    @include vp-1023 {
      padding: 0 0 0 40px;
    }

    @include vp-767 {
      padding: 0 25px 0 26px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 53%;

    @include vp-1023 {
      padding-right: 286px;
    }

    @include vp-767 {
      padding-right: 0;
      z-index: 1;
    }
  }

  &__title {
    font-size: 95px;
    line-height: 71px;
    font-variant: all-small-caps;
    color: $color-default-white;
    margin: 0 0 19px;

    @include vp-767 {
      font-size: 50px;
      line-height: 24px;
      margin: 0 0 25px;
    }
  }

  &__desk {
    margin: 0 0 59px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: $color-default-white;
    max-width: 610px;

    @include vp-1023 {
      width: 430px;
      line-height: 137%;
      z-index: 1;
      margin: 11px 0 103px 7px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      width: auto;
      margin: 0 0 40px;
    }

    span::after {
      @include vp-767 {
        content: "\a ";
        white-space: pre;
      }
    }
  }

  &__text {
    margin: 0;
    font-weight: 200;
    font-size: 22px;
    line-height: 24px;
    color: $color-default-white;
    max-width: 500px;
    margin-bottom: 136px;

    br {
      display: none;

      @include vp-1023 {
        display: block;
      }

      @include vp-767 {
        display: none;
      }
    }

    @include vp-1023 {
      max-width: 480px;
      font-stretch: condensed;
    }

    @include vp-1023 {
      font-size: 21px;
      line-height: 25px;
      margin-left: 7px;
      font-weight: 300;
      margin-bottom: 148px;
      max-width: 360px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
      margin: 0 0 40px;
      z-index: 1;
    }
  }

  &__link {
    max-width: 285px;
    padding: 28px 28px 28px 34px;
    margin-bottom: 88px;
    white-space: normal;

    @include vp-1023 {
      max-width: 276px;
      margin-left: 7px;
    }

    @include vp-767 {
      margin: 0 2px 0 4px;
      max-width: 263px;
      height: 76px;
      padding: 28px 30px 25px 31px;
    }
  }

  &__svg {
    position: absolute;
    right: 38px;
    top: 34px;
  }

  &__img {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-5px);

    @include vp-1023 {
      top: 100px;
      transform: translateX(8px);
    }

    @include vp-767 {
      left: 5.6%;
      top: 32px;
    }
  }

  &__tire {
    @include vp-1023 {
      display: none;
    }
  }

  &__dash {
    &::after {
      @include vp-768 {
        content: "\a ";
        white-space: nowrap;
      }
    }

    @include vp-1024 {
      display: none;
    }
  }
}
