.appointment {
  padding: 115px 73px 103px;
  position: relative;
  z-index: 2;

  @include vp-1279 {
    padding: 88px 0 60px;
  }

  @include vp-767 {
    padding: 24px 0;
    min-height: 476px;
  }

  .container {
    @include vp-1279 {
      padding: 0 27px 0 26px;
    }

    @include vp-767 {
      padding: 0 28px 0 22px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    top: -60px;
    z-index: -1;
    bottom: 0;
    background-color: #3f4251;
    border-radius: 0 0 60px 60px;

    @include vp-1279 {
      background-color: #192144;
    }

    @include vp-767 {
      border-radius: 0 0 30px 30px;
    }
  }

  &__title {
    margin: 0 auto 46px;
    font-size: 95px;
    line-height: 45px;
    color: #ffffff;

    @include vp-1279 {
      font-size: 75px;
      line-height: 45px;
      font-variant: all-small-caps;
      margin: 0 auto 42px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 24px;
      font-variant: normal;
      padding: 0 13px 0 26px;
      margin: 0 auto 19px;
    }
  }

  &__desk {
    margin: 0 auto 47px;
    font-weight: 300;
    font-size: 28px;
    line-height: 31px;
    max-width: 623px;
    text-align: center;
    color: #ffffff;
    text-indent: -6px;

    span::after {
      content: "\a";
    }

    @include vp-1279 {
      font-size: 24px;
      line-height: 32px;
      margin: 0 auto 71px;
      padding: 0 15px 0 2px;

      span::after {
        content: "\a";
        letter-spacing: 0.23em;
      }
    }

    @include vp-767 {
      font-size: 13px;
      line-height: 22px;
      padding: 0 43px 0 41px;
      text-indent: -3px;
      width: auto;
      margin: 0 auto 29px;
    }

    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #a8d2f4;

      &:hover {
        color: #4d99d6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

    @include vp-1279 {
      margin-bottom: 76px;
      padding: 0 49px 0 50px;
    }

    @include vp-767 {
      margin-bottom: 29px;
      padding: 0;
    }
  }

  &__button {
    max-width: 330px;
    width: 100%;
    padding: 22px 34px 20px 42px;
    border: 0;
    background-color: #a8d2f4;
    border-radius: 0 20px 20px 0;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    svg {
      min-width: 14px;
    }

    @include vp-1279 {
      max-width: 80px;
      padding: 0;
      justify-content: center;
    }

    @include vp-767 {
      max-width: 60px;
      border-radius: 10px;
      margin-left: -10px;

      svg {
        width: 12px;
        height: 14px;
      }
    }
  }

  &__span {
    @include vp-1279 {
      display: none;
    }
  }

  &__text {
    margin: 0 auto 46px;
    font-weight: 300;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #ffffff;

    @include vp-1279 {
      font-size: 24px;
      line-height: 32px;
      margin: 0 auto 28px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
      padding: 0 26px 0 25px;
      text-align: center;
      margin: 0 auto 20px;
    }
  }
}

input[type="email"] {
  padding: 20px 20px 20px 37px;
  background-color: #ffffff;
  max-width: 849px;
  width: 100%;
  min-height: 81px;
  border-radius: 20px 0 0 20px;
  font-weight: 700;
  border: 0;
  font-size: 24px;
  line-height: 24px;
  outline: 0;

  @include vp-1279 {
    min-height: 80px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 18px;
    padding: 20px 25px;
    min-height: 62px;
    border-radius: 10px 0 0 10px;

    &::placeholder {
      opacity: 0.3;
    }
  }
}
