.btn {
  display: inline-flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
  padding: 0;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
