.button {
  font-size: 24px;
  line-height: 24px;
  background-color: #a8d2f4;
  border-radius: 20px;
  position: relative;
  color: #1d2e5b;
  font-weight: 700;

  &:hover {
    background-color: #4D99D6;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);

    svg {
      opacity: 0.3;
    }
  }
}
