.contact {
  position: relative;
  min-height: 201px;
  z-index: 1;
  padding: 55px 0;

  .container {
    @include vp-1279 {
      padding: 0 75px;
    }

    @include vp-767 {
      padding: 0 24px 0 26px;
    }
  }

  @include vp-1279 {
    padding: 48px 0 84px;
  }

  @include vp-767 {
    padding: 33px 0;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    top: -60px;
    z-index: -1;
    bottom: 0;
    background-color: #7ebaeb;
    border-radius: 0 0 60px 60px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);

    @include vp-767 {
      border-radius: 0 0 30px 30px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 68% 1fr;
    align-items: center;
    padding: 0 70px 0 223px;
    row-gap: 20px;

    @include vp-1279 {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: normal;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    color: #1d2e5b;
    grid-column: 1 / 2;

    svg {
      color: #cce5fa;
    }

    @include vp-1279 {
      margin-bottom: 24px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 13px;
    }

    &:hover {
      color: #4d99d6;

      svg {
        color: #4d99d6;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__svg {
    margin-right: 31px;

    @include vp-1279 {
      margin-right: 26px;
    }

    @include vp-767 {
      margin-right: 16px;
    }

    svg {
      @include vp-1279 {
        width: 32px;
        height: 32px;
      }

      @include vp-767 {
        width: 21px;
        height: 21px;
      }
    }
  }

  &__button {
    padding: 26px 13px 24px 33px;
    border: 3px solid #192144;
    height: 80px;
    align-items: center;
    gap: 19px;
    display: flex;
    width: 324px;
    font-size: 24px;
    line-height: 24px;
    background-color: transparent;
    border-radius: 20px;
    color: #1d2e5b;
    font-weight: 700;
    cursor: pointer;
    grid-column: 2 / 3;

    &:hover {
      background-color: #192144;
      color: #ffffff;

      svg {
        color: #ffffff;
      }
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      svg {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    @include vp-1279 {
      width: 100%;
      justify-content: space-between;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 18px;
      padding: 19px 12px;
      height: 62px;
      border-radius: 10px;
    }
  }
}
