.footer {
  padding: 53px 0 32px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 60px 60px 0 0;
  box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.25);

  @include vp-1279 {
    padding: 0;
  }

  @include vp-767 {
    border-radius: 30px 30px 0 0;
  }

  &__container {
    padding: 0 58px;

    @include vp-1279 {
      padding: 46px 38px 25px;
    }

    @include vp-767 {
      padding: 37px 25px 65px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    @include vp-767 {
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #f2f2f2;
    }
  }

  &__logo {
    &:hover {
      opacity: 0.8;
    }

    @include vp-1279 {
      margin-top: 10px;
    }

    @include vp-767 {
      margin-top: 0;
      margin-bottom: 40px;
      margin-right: 0;
    }

    img {
      width: 202px;

      @include vp-1279 {
        width: 166px;
        height: 42px;
      }

      @include vp-767 {
        width: 96px;
        height: 15px;
      }
    }
  }
}
