.header {
  padding: 46px 0 0;
  z-index: 8;
  position: absolute;
  left: 0;
  right: 0;

  @include vp-1023 {
    padding: 40px 0 68px;
  }

  @include vp-767 {
    padding: 32px 0 50px;

    &--padding {
      padding: 15px 0;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__logo-mobile {
    display: none;

    @include vp-1279 {
      margin-right: 24%;
      color: #ffffff;
      z-index: 2;
      transition: color 0.3s ease;

      &.is-active {
        color: #192144; // цвет при открытом меню
      }
    }

    @include vp-767 {
      display: block;
      margin-right: auto;
    }
  }

  &__logo {
    color: $color-default-white;
    margin-bottom: 2px;
    z-index: 3;

    @include vp-1279 {
      margin-top: 3px;
      margin-bottom: 0;
    }

    img {
      width: 202px;
      height: 50px;
      max-width: none;

      @include vp-1279 {
        width: 168px;
        height: 42px;
      }

      @include vp-767 {
        width: 96px;
        height: 15px;
        display: none;
      }
    }
  }
}

.header--padding .header__logo:hover {
  opacity: 0.8;
}
