.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal, transform $trans-modal, visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    max-width: 750px;
    padding: 54px 60px;
    border-radius: 30px;
    min-height: 526px;
    width: 100%;

    background-color: $color-default-white;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    padding: 40px 0 44px;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    background-color: #f3f4f8;
    border: none;
    cursor: pointer;
    border-radius: 0 0 30px 30px;
    color: #1d2e5b;

    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.5;
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }

  &__title {
    margin: 0 0 48px 28px;
    font-size: 45px;
    line-height: 45px;
    font-variant: all-small-caps;
    color: #192144;
    text-align: center;
  }

  &__list {
    margin: 0 0 54px;
    padding: 0;
    list-style-type: none;

    p {
      margin: 0 auto 0 0;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
    }

    span {
      font-weight: 300;
      font-size: 22px;
      line-height: 28px;
      font-family: "Roboto", sans-serif;
    }
  }

  &__item {
    display: flex;
    padding: 12px 0 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #444444;

    &:nth-child(4n) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
