.range {
  padding: 0 0 25px;

  @include vp-1279 {
    display: flex;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 12px 0;
  }

  &__wrapper-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    margin-bottom: 36px;
    position: relative;

    @include vp-1279 {
      margin-top: 0;
      margin-bottom: 0;
      position: absolute;
      right: 17px;
      top: -14px;
    }

    @include vp-767 {
      position: sticky;
    }

    &::before {
      content: "";
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 20px;
      height: 1px;
      background-color: #cbced9;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 20px;
      height: 15px;
      background-color: #ffffff;
      z-index: 1;
    }
  }

  &__input {
    width: 96px;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 0.04em;
    color: #1d2e5b;
    font-weight: 500;
    border: 1px solid #cbced9;
    outline: 0;

    &:hover {
      border: 1px solid #959bb2;
    }

    &--min {
      padding: 13px 24px 8px 27px;
      border-radius: 4px 0 0 4px;

      @include vp-1279 {
        padding: 13px 12px 8px 14px;
      }

      @include vp-767 {
        padding: 8px 12px 8px 14px;
      }
    }

    &--max {
      padding: 13px 19px 8px 19px;
      border-radius: 0 4px 4px 0;

      @include vp-1279 {
        padding: 13px 15px 8px;
      }
    }

    @include vp-1279 {
      width: 74px;
    }

    @include vp-767 {
      width: 110px;
      font-size: 14px;
      line-height: 13px;
      letter-spacing: 0.06em;
      height: 34px;
    }
  }

  &__scale {
    position: relative;
    height: 3px;
    border-radius: 2px;
    background-color: rgba(29, 46, 91, 0.2);

    @include vp-1279 {
      left: 59px;
      width: 280px;
      margin-top: 7px;
    }

    @include vp-767 {
      width: 100%;
      left: 0;
      margin-top: 26px;
    }
  }

  &__bar {
    position: absolute;
    height: 3px;
    background-color: #1d2e5b;
    left: 62px;
    width: 130px;
  }

  &__toggle {
    position: absolute;
    width: 13px;
    height: 13px;
    background: #1d2e5b;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    border: 0;
    top: -5px;

    &:hover {
      width: 19px;
      height: 19px;
    }

    &:active {
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24);
    }

    &--min {
      left: 0;
    }

    &--max {
      right: 0;
    }

    @include vp-767 {
      width: 10px;
      height: 10px;
    }
  }
}
