.social-list {
  margin-right: auto;
  margin-left: auto;

  &__list {
    margin: 0 auto;
    padding: 0 202px 0 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    @include vp-1279 {
      padding: 0 165px 0 0;
    }

    @include vp-767 {
      padding: 0 0 36px;
    }
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    width: 62px;
    height: 62px;
    background-color: #a8d2f4;
    border-radius: 100%;

    @include vp-767 {
      width: 45px;
      height: 45px;
      align-items: center;

      img {
        width: 23px;
        height: 23px;
      }
    }

    &:hover {
      background-color: #4D99D6;
    }

    &:active {
      img {
        opacity: 0.3;
      }
    }
  }
}

.social-list__list--current {
  display: none;

  @include vp-1279 {
    padding: 0;
    display: flex;

    li a {
      background-color: transparent;
    }
  }
}
