.user {
  padding: 121px 0 106px;
  z-index: 3;

  @include vp-1279 {
    padding: 36px 0 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      width: 100%;
      top: -60px;
      z-index: -1;
      bottom: -1px;
      background-color: #edeff6;
      border-radius: 0 0 60px 60px;

      @include vp-767 {
        border-radius: 0 0 30px 30px;
      }
    }
  }

  @include vp-767 {
    padding: 36px 0 14px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    font-size: 95px;
    line-height: 45px;
    font-variant: all-small-caps;
    color: #192144;
    margin: 0 41px 105px 0;
    text-align: center;

    @include vp-1279 {
      line-height: 90px;
      margin: 0 4px 27px 0;
    }

    @include vp-767 {
      font-size: 37px;
      line-height: 28px;
      margin: 0 -7px 30px 0;
      text-indent: -10px;
    }
  }

  &__list {
    padding: 0 0 0 113px;
    margin: 60px 0 32px;
    list-style-type: none;
    counter-reset: section;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    position: relative;

    @include vp-1279 {
      padding: 0 0 0 90px;
      margin: 38px 0 0;
    }

    @include vp-767 {
      margin: 0 0 35px;
      padding: 0 54px 0 0;
    }
  }

  &__item {
    border-top: 1px solid #e1e3e9;
    padding: 24px 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #444444;

    @include vp-1279 {
      padding: 22px 0 20px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
      padding: 14px 0 15px;
    }

    &:nth-child(3n) {
      border-bottom: 1px solid #e1e3e9;
    }

    &::before {
      content: counter(section);
      counter-increment: section;
      position: absolute;
      left: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 73px;
      height: 71px;
      border-radius: 100%;
      color: #ffffff;
      background-color: #4d99d6;

      @include vp-1279 {
        left: 0;
        width: 68px;
        height: 68px;
      }

      @include vp-767 {
        width: 37px;
        height: 35px;
        left: auto;
        right: 4px;
      }
    }

    &--dark::before {
      background-color: #4d99d6;
    }

    &--soft::before {
      background-color: #7ebaeb;
    }

    &--light::before {
      background-color: #a8d2f4;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #ffffff;
    padding: 62px 47px 70px 82px;
    column-gap: 46px;
    z-index: 1;
    background-color: #3f4251;
    border-radius: 20px;
    width: 585px;
    grid-column: end;

    span {
      font-weight: 400;
      font-size: 28px;
      line-height: 40px;
      margin: 0 0 0 29px;
      grid-column: 1;

      @include vp-1279 {
        font-size: 24px;
        line-height: 38px;
        margin: 0 0 25px 7px;
      }

      @include vp-767 {
        font-size: 16px;
        line-height: 21px;
        margin: 0;
      }
    }

    @include vp-1279 {
      width: 198px;
      padding: 23px 27px 18px;
      display: flex;
      flex-direction: column;
    }

    @include vp-767 {
      position: relative;
      width: 263px;
      padding: 16px 18px 16px 15px;
      margin: 0 2px 38px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-self: center;
    }
  }

  &__text {
    margin: 22px 0 20px;
    font-size: 41px;
    line-height: 28px;
    font-variant: all-small-caps;

    @include vp-1279 {
      font-size: 28px;
      line-height: 28px;
      margin: 0 0 15px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 16px;
      margin: 0 0 22px;
    }
  }

  &__img {
    grid-column: 2 / 3;
    grid-row: 1 / 4;

    @include vp-1279 {
      margin: 0 auto;
    }

    img {
      height: fit-content;

      @include vp-1279 {
        width: 100px;
        height: 100px;
      }

      @include vp-767 {
        width: 81px;
        height: 81px;
      }
    }
  }

  &__svg {
    min-width: 73px;
    height: 71px;
    background-color: #e2e5f2;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;

    @include vp-1279 {
      min-width: 68px;
      height: 68px;
      margin-right: 21px;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__button {
    margin-left: 14px;
    color: #3f4251;
    font-size: 20px;
    line-height: 20px;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 20px;
    grid-column: 1 / 3;
    justify-content: flex-end;

    @include vp-1279 {
      margin-left: 0;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
      margin-left: 4px;
      justify-content: center;
      margin-bottom: 10px;
    }
  }
}
