@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 200;
  src: url("../fonts/Roboto-ExtraLight.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
