mixin modal-feedback()
  h2.modal__title Бизнес-тарифы
  ul.modal__list
    li.modal__item
      p Реклама у блоггера
      span 300&nbsp;000 руб./пост
    li.modal__item
      p Накрутка подписчиков
      span от&nbsp;1&nbsp;руб./шт.
    li.modal__item
      p Лайки от ботов
      span от&nbsp;20&nbsp;коп./лайк
    li.modal__item
      p Ваш продакт-плейсмент
      span Индивидуально
