//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks
include ./blocks/promo
include ./blocks/about
include ./blocks/countries
include ./blocks/people
include ./blocks/user
include ./blocks/appointment
include ./blocks/contact
include ./blocks/map
include ./blocks/travelers
include ./blocks/filter
include ./blocks/puputchik-filter
include ./blocks/range
include ./blocks/pagination
include ./blocks/contant-info
include ./blocks/social-list

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/check
